* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #fff;
}
.wrapper {
    max-width: 1230px;
    padding: 0 15px;
    margin: 30px auto;
    background: #2F3132;
    border-radius: 20px;
    height: 1500px;
    padding: 50px;
}
.header__block {
    display: flex;
    align-items: center;
}
.header__img img {
    border-radius: 50%;
}
.header__column {
    margin-left: 100px;
}
.header__title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 38px;
}
.header__subtitle {
    text-transform: uppercase;
    font-weight: 400;
}