* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #fff;
}
.wrapper {
    max-width: 1230px;
    padding: 0 15px;
    margin: 30px auto;
    background: #2F3132;
    border-radius: 20px;
    height: 1500px;
}